<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OnlyFlans{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-container {
            display: flex;
            overflow-x: auto;
            padding-bottom: 1rem;
        }
        .card {
            flex: 0 0 auto;
            width: 18rem;
            margin-right: 1rem;
        }
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <header style="background: red;">
        {% include 'header.html' %}
    </header>
    <nav style="background: white;">
        {% include 'navbar.html' %}
        <ul>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
    </nav>
    <main class="container-fluid my-4">
        {% block content %}{% endblock %}
    </main>
    <footer style="background: green;" class="text-center py-3">
        {% include 'footer.html' %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
