<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página Principal{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="icon" href="{% static 'flan.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/layout.css' %}">
</head>
<body>
    <header>
        <div class="container py-3 text-center">
            <img src="{% static 'OnlyFlans.png' %}" alt="OnlyFlans Logo" class="img-fluid">
        </div>
    </header>
    <nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-top border-bottom">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">Acerca</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'carrito' %}">Ver Carrito</a> <!-- Asegúrate de que el nombre de la URL sea correcto -->
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link btn btn-link" style="color: rgba(0,0,0,.5); padding: .5rem 1rem;">Cerrar sesión</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Regístrate</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </nav>
    <main class="container-fluid my-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="container">
            <p class="text-center mb-0">Creado por Mauricio Barrientos Full Stack Python</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
