{% extends 'base.html' %}

{% block title %}Contacto - OnlyFlans{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="form-container">
                <h1 class="form-title">Contacto</h1>
                <p class="text-center mb-4 text-muted">Nos encantaría escuchar de ti. Por favor, completa el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>

                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {% if field.field.widget.input_type == 'textarea' %}
                                {{ field|add_class:"form-control textarea" }}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                            {% if field.errors %}
                                <div class="form-message error">
                                    {{ field.errors|striptags }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn-form btn-form-primary">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
