<!-- templates/flans_list.html -->
{% extends "base.html" %}

{% block title %}Lista de Flanes{% endblock %}

{% block content %}
  <h2>Índice</h2>
  <div class="row">
    {% for flan in page_obj %}
      <div class="col-md-4 mb-4">
        <div class="product-card">
          <img class="product-card__image" src="{{ flan.image_url }}" alt="Imagen de {{ flan.name }}">
          <div class="product-card__body">
            <h5 class="product-card__title">{{ flan.name }}</h5>
            <p class="product-card__description">{{ flan.description }}</p>
            <a href="{% url 'detalle_flan' flan.id %}" class="product-card__button product-card__button--secondary">Ver receta</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}