{% extends 'base.html' %}
{% block footer %}
<footer class="bg-success text-white text-center py-3">
  <div class="container">
    <p>Sigue nuestras redes sociales para más noticias y ofertas de OnlyFlans:</p>
    <a href="https://www.instagram.com" class="text-white me-3" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com" class="text-white me-3" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com" class="text-white" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</footer>
{% endblock %}
